<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-8 form-group">
          <label for="name">Name</label>
          <input class="form-control" type="text" id="name">
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input class="form-control" type="number" id="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>



